<!-- app/templates/auth/reset_password.html -->
{% extends 'base.html' %}
{% block content %}
<h2>Restablecer Contraseña</h2>
<form method="POST">
  {{ form.hidden_tag() }}
  <div class="mb-3">
    {{ form.password.label(class="form-label") }}
    {{ form.password(class="form-control") }}
    {% for error in form.password.errors %}
      <div class="text-danger">{{ error }}</div>
    {% endfor %}
  </div>
  <div class="mb-3">
    {{ form.confirm_password.label(class="form-label") }}
    {{ form.confirm_password(class="form-control") }}
    {% for error in form.confirm_password.errors %}
      <div class="text-danger">{{ error }}</div>
    {% endfor %}
  </div>
  <button type="submit" class="btn btn-success">{{ form.submit.label.text }}</button>
</form>
{% endblock %}
