{% extends 'base.html' %}
{% block title %}Comparar Aplicaciones{% endblock %}
{% block content %}
<div class="container mt-4">
  <h2>Comparación de Aplicaciones</h2>
  <div class="row">
    <div class="col-md-5">
      <h5>Aplicación Anterior</h5>
      <ul class="list-group">
        <li class="list-group-item"><strong>Nombre:</strong> {{ anterior.nombre }}</li>
        <li class="list-group-item"><strong>Email:</strong> {{ anterior.email }}</li>
        <li class="list-group-item"><strong>Documento:</strong> {{ anterior.documento }}</li>
        <li class="list-group-item"><strong>Promedio:</strong> {{ anterior.promedio }}</li>
        <li class="list-group-item"><strong>Motivación:</strong> <pre>{{ anterior.motivacion }}</pre></li>
        <!-- Agrega más campos según necesites -->
      </ul>
    </div>
    <div class="col-md-2 text-center">
      <i class="bi bi-arrow-right fs-1 my-4"></i>  <!-- ícono de flecha -->
    </div>
    <div class="col-md-5">
      <h5>Nueva Aplicación</h5>
      <ul class="list-group">
        <li class="list-group-item"><strong>Nombre:</strong> {{ nueva.nombre }}</li>
        <li class="list-group-item"><strong>Email:</strong> {{ nueva.email }}</li>
        <li class="list-group-item"><strong>Documento:</strong> {{ nueva.documento }}</li>
        <li class="list-group-item"><strong>Promedio:</strong> {{ nueva.promedio }}</li>
        <li class="list-group-item"><strong>Motivación:</strong> <pre>{{ nueva.motivacion }}</pre></li>
        <!-- Agrega más campos según necesites -->
      </ul>
    </div>
  </div>
</div>
{% endblock %}